@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap");

:root {
  --primary-color: rgb(17, 86, 102);
  --secondary-color: rgb(9, 48, 56);
  --tertiary-color: rgb(245, 100, 100);
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Lato", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f5f5f5,
    var(--primary-color),
    var(--primary-color),
    var(--secondary-color)
  );
}

.container {
  text-align: center;
  max-width: 20%;
  margin: 5% auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.title {
  color: var(--primary-color);
  font-size: 2em;
  text-transform: uppercase;
  text-shadow: 1.5px 1.5px var(--secondary-color);
}

.relogio {
  color: #324a5f;
  font-size: 3em;
}

.pausado {
  color: var(--tertiary-color);
}

button {
  width: 110px;
  height: 40px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 0.9em;
}

button:hover {
  background-color: var(--secondary-color);
}
