@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --primary-color:rgb(17, 86, 102);
  --secondary-color: rgb(9, 48, 56)
}


*{
  box-sizing: border-box;
  outline: none;
}

body{
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

.container{
  max-width: 640px;
  margin: 50px auto;
  background: whitesmoke;
  padding: 20px;
  border-radius: 25px;
}

h1{
  text-align: center;
  font-size: 1.8em;
}


.imc-info{
  display: inline-block;
}

.imc-class{
  display: inline-block;
  margin-left: 39%;
}

.imc-title1{
  margin-bottom: 7%;
}

form input, form label, form button{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input{
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button{
  margin-top: 5%;
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 1.15em;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
}

form button:hover{
  background: var(--secondary-color);
}

.good, .bad{
  background: rgb(109, 255, 182);
  padding: 5px 10px;
}

.bad{
  background: rgb(255, 150, 150);
}